.Rproj.user
.Rhistory
.RData
.Ruserdata
# Data files
*.csv
*.xlsx
*.xls
*.rds
*.parquet
.DS_Store
docs
# Testing all functions script
^inst/scripts$
inst/scripts/testing_all_functions.R
inst/doc
^inst/raw_data$
~\$test_data\.xlsx$
~\$.*\.xlsx$
