on:
  push:
    branches: [main, master]
  pull_request:

name: R-CMD-check

permissions:
  contents: read

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,  r: 'devel',  http-user-agent: 'release'}
          - {os: ubuntu-latest,  r: 'release'}
          - {os: ubuntu-latest,  r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install R package dependencies
        shell: Rscript {0}
        run: |
          install.packages("remotes")
          remotes::install_deps(dependencies = TRUE)
          install.packages("rcmdcheck")

      - name: Run R CMD check
        shell: Rscript {0}
        run: |
          rcmdcheck::rcmdcheck(
            args       = c("--no-manual"),
            build_args = c("--no-manual", "--compact-vignettes=gs+qpdf"),
            error_on   = "warning"
          )
